@media screen and (max-width: 480px) {
    .header {
        border: 2px solid black;
        margin: 5%;
        background-color: #FEF7E2;
        border-radius: 70px;
        display: flex;
    }

    .logo {
        width:5px;
    }

    .shop .visited {
        display: flex;
        display: flex;
        width: 20%;
        border: 2px solid black;
        background-color: #FFDF7E;
    }}